

<!-- BEGIN LIVEINTENT AD #1 -->
<center>
<!-- MAIN AD IMAGE -->
<a href="http://li.denverpost.com/click?s=128177&sz=300x250&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow" style="color:#0D4F8B;text-decoration:none;" ><img src="http://li.denverpost.com/imp?s=128177&sz=300x250&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" alt="" class="ad center" style="outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;max-width:100%;clear:both;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;float:none;width:auto;display:block;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" /></a>
<!-- SECONDARY -->
<a href="http://li.denverpost.com/click?s=1786&sz=116x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow" style="color:#0D4F8B;text-decoration:none;" ><img src="http://li.denverpost.com/imp?s=1786&sz=116x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" alt="" style="outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;clear:both;" /></a>
<a href="http://li.denverpost.com/click?s=96651&sz=69x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow" style="color:#0D4F8B;text-decoration:none;" ><img src="http://li.denverpost.com/imp?s=96651&sz=69x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" style="outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;clear:both;" ></a>
<!-- TRACKING -->
<img src="http://li.denverpost.com/imp?s=128178&sz=1x1&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" style="display:none;outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;clear:both;" />
<img src="http://li.denverpost.com/imp?s=128179&sz=1x1&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" style="display:none;outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;clear:both;" />
</center>
<!-- END LIVEINTENT -->


<!-- BEGIN LIVEINTENT AD #2 -->
<center>
<a href="http://li.denverpost.com/click?s=128174&sz=728x90&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow" style="color:#0D4F8B;text-decoration:none;" ><img src="http://li.denverpost.com/imp?s=128174&sz=728x90&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" alt="" class="ad center" style="outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;max-width:100%;clear:both;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;float:none;width:auto;display:block;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" /></a>
<!-- SECONDARY -->
<a href="http://li.denverpost.com/click?s=1786&sz=116x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow" style="color:#0D4F8B;text-decoration:none;" ><img src="http://li.denverpost.com/imp?s=1786&sz=116x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" alt="" style="outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;clear:both;" /></a>
<a href="http://li.denverpost.com/click?s=96651&sz=69x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow" style="color:#0D4F8B;text-decoration:none;" ><img src="http://li.denverpost.com/imp?s=96651&sz=69x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" style="outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;clear:both;" ></a>
<!-- TRACKING -->
<img src="http://li.denverpost.com/imp?s=128175&sz=1x1&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" style="display:none;outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;clear:both;" />
<img src="http://li.denverpost.com/imp?s=128176&sz=1x1&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" style="display:none;outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;clear:both;" />
<hr style="margin-top:12px;margin-bottom:12px;margin-right:1%;margin-left:1%;" /></center>
<!-- END AD BLOCK -->
