/*DENVER POST NEWSLETTER MASTER STYLE SHEET
By Eric Lubbers, The Denver Post
Some styles from Zurb Foundation's Ink Framework. */

/*IMAGE STYLES*/

img.center {
margin: 0 auto;
float: none;
}
img {
outline: none;
text-decoration: none;
-ms-interpolation-mode: bicubic;
width: auto;
max-width: 100%;
clear: both;
/*display: block;*/
}
img.display {
width:100%;
max-width:650px;
float: none;
display: block;
margin-right: auto;
margin-left: auto;
/*padding:6px;
*/}

img.full {
width:100%;
max-width:650;
display: block;
margin-right: auto;
margin-left: auto;
}

blockquote p {
	font-size:0.8em;
}
img.social {
	margin:0;
	padding:0;
	display: inline-block;
}
img.logo {
width:auto;
display:block;
}

img.ad {
width:auto;
display: block;
padding:0;
}

/*TYPOGRAPHY*/
/*LABELS*/
h1.label {
font-family: Georgia, "Droid Serif", -apple-system-headline, serif;
color: #ffffff;
font-size: 2.2em;
font-weight: normal;
text-transform: uppercase;
letter-spacing: 1px;
text-align: center;
white-space: pre-wrap;
word-wrap: normal;
-webkit-hyphens: none;
-moz-hyphens: none;
hyphens: none;
margin-bottom: 0px;
margin-top: 6px;
}
h6.tvlist {
font-family: -apple-system-headline, 'Roboto', Helvetica Neue, Trebuchet, sans-serif;
font-weight: bold;
text-align: center;
font-size: 18px;
line-height: 1.1em;
color: #2B3F5C;
padding-top: 12px;
word-wrap: normal;
-webkit-hyphens: none;
-moz-hyphens: none;
hyphens: none;
}
/*PARAGRAPHS & BOLD LABELS*/
p {
font-family: -apple-system-headline, "Roboto", 'Helvetica Neue', sans-serif;
font-size: 1.2em;
line-height: 1.3em;
margin: 2% 1%;
text-align: left;
color:#333333;
}
p strong {
font-family: -apple-system-headline, "Roboto", 'Helvetica Neue', sans-serif;
font-weight: bold;
font-size: 1.3em;
line-height: 1.2em;
}
p b {
font-family: -apple-system-headline, "Roboto", 'Helvetica Neue', sans-serif;
font-weight: bold;
font-size: 1.3em;
line-height: 1.2em;
}
p em {
font-size:0.9em;
}
p.quote {
font-size: 1.3em;
font-weight: bold;
font-family: Georgia, "Droid Serif", serif;
text-align: center;
}
p.quotesource {
font-size: 1.1em;
font-family: Georgia, "Droid Serif", serif;
text-align: center;
}
p.note {
font-family: Georgia, "Droid Serif", serif;
font-style: italic;
font-size: 1em;
line-height: 1.1em;
color: #35586C;
margin:2%;
font-variant: italic;
}
/*LINKS*/
a:link,
a:visited,
a:hover,
a:active strong {
color: #0D4F8B;
text-decoration: none;
}
/*PHOTO TEXT*/
p.cutline {
font-family: Georgia, 'Droid Serif', -apple-system-headline, serif;
font-size: 0.9em;
line-height: 1.1em;
margin: 1% 5%;
}
p.credit {
font-family: Georgia, 'Droid Serif', -apple-system-headline, serif;
font-size: 0.9em;
line-height: 1.1em;
/*margin: 1% 1%;*/
font-style: italic;
text-align: center;
}
p.footer {
font-family: -apple-system-footnote, 'Roboto', Trebuchet, sans-serif;
font-size: 12px;
color: #222222;
text-align: center;
padding: 6px;
}

/*OTHER*/
hr {
margin:12px 1%;
}

blockquote {
	font-family: Georgia, 'Droid Serif', -apple-system-headline, serif;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.2em;
	padding:0;
	margin:0 8%;
}

p.source {
	font-size:0.8em;
	line-height: 1.3em;
	text-align: center;
	font-weight:normal;
	font-style: italic;
	font-family:Georgia,serif;
	padding:2px;
	margin:2px;
}

p.social {
display: inline-block;
}

/*INK STYLES*/
body {
width: 100% !important;
max-width:650px;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
margin: 0;
padding: 0;
margin-right: auto;
margin-left: auto;
}
table.center,
td.center {
text-align: center;
}
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
text-align: center;
}
span.center {
width: 100%;
text-align: center;
}

table.body {
height: 100%;
width: 100%;
}
/*table.container {
width: 100%;
margin: 0 auto;
text-align: inherit;
padding-left: 3%;
padding-right: 3%;
}*/
td.expander {
visibility: hidden;
width: 0px;
padding: 0 !important;
}
td.wrapper {
padding: 0px;
position: relative;
}
table[class="body"] .wrapper {
padding-right: 0 !important;
}
table.ad {
	max-width:300px;
	margin-left:auto;
	margin-right:auto;
}
tr.ad {
	margin-left:auto;
	margin-right:auto;
}
table.row td.last,
table.container td.last {
padding-right: 0px;
}
/* Panels */
.panel {
background: #2C6194;
min-width: 100%;
border: 0px solid #d9d9d9;
padding: 0px !important;
}
.aftpanel {
background: #2C6194;
min-width: 100%;
border: 0px solid #d9d9d9;
padding: 0px !important; 
}
.sportspanel {
background: #f68a4a;
min-width: 100%;
border: 0px solid #d9d9d9;
padding: 0px !important;  
}
.prepspanel {
background: #0C44A3;
min-width: 100%;
border: 0px solid #d9d9d9;
padding: 0px !important; 
}
.vivapanel {
background: #ffffff;
min-width: 100%;
border: 0px solid #d9d9d9;
padding: 0px !important;
}
.entpanel {
background: #C00000;
min-width: 100%;
border: 0px solid #d9d9d9;
padding: 0px !important;
}
.cannabistpanel {
background: #913327;
min-width: 100%;
border: 0px solid #d9d9d9;
padding: 0px !important;
}
.sub-grid table {
width: 100%;
}
.sub-grid td.sub-columns {
padding-bottom: 0;
}
