<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="http://extras.denverpost.com/newsletter/digest.css">
    <!-- <link rel="stylesheet" href="digest.css"> -->
<!-- [if gte mso 9]>
<style type="text/css">
img.logo { width: 130px; }
</style>
<![endif]
</head> -->
<body align="center" style="width:100%;max-width:550px">
	<!-- MASTHEAD -->
    <div style="background-color:#8B1A1A;padding-bottom:6px;">
    <h1 class="label">THE DAILY DIGEST</h1>
    <p style="color:#ffffff;font-size:0.8em;text-align:center;padding:0;margin:0;font-family:Georgia,'Droid Serif',-apple-system-headline,serif;">by</p>
    <center>
    <a href="http://denverpost.com">
      <img class="logo center" style="padding-bottom:6px;padding-top:3px;width:130px;" src="http://extras.denverpost.com/newsletter/dp_logo_high.png">
    </a>
    </center>
    </div>
    <!-- TOP 1 -->
       <p><a href="http://dpo.st/1Ct4fce"> <b>1. PEYTON MANNING THROWS FOUR PICKS AS BRONCOS FALL TO BENGALS</b></a></p>
    <a href=""><img src="http://extras.mnginteractive.com/live/media/site36/2014/1222/20141222__manning-hochman~p1.jpg" alt="" class="full center" /></a><br />
   <blockquote>"Why did he throw that? Who was that who threw that, because Peyton Williams Manning never would've thrown that, right?"<p class="source"><a href="http://dpo.st/1ADz3Vy">Benjamin Hochman</a></p></blockquote>
   <p>As they sauntered off quietly in a heavy rain, heads held high, but feelings hurt from defeat,  <a href="http://dpo.st/1Ct4fce" title="Broncos lose.">playoff bust seemed like a safer bet than the Super Bowl champion</a>. Also, <a href="http://dpo.st/1ADz3Vy" title="Hochman's take."> read Benjamin Hochman's take</a>.</p>

	<!-- WEATHER BLOCK -->
<hr />
    <center><p style="text-align:center;font-size:0.8em;"><strong><a href="http://dpo.st/stHtpv" style="font-weight:bold;">WEATHER</a> | <a href="http://dpo.st/bzLWmO" style="font-weight:bold;">TRAFFIC</a> | <a href="http://dpo.st/apps" style="font-weight:bold;">APPS</a></strong></p></center>
<!-- END WEATHER BLOCK -->
<!-- AD BLOCK 1 -->
<hr />
<!-- BEGIN LIVEINTENT AD #1 -->
<center>
<!-- MAIN AD IMAGE -->
<a href="http://li.denverpost.com/click?s=128705&sz=300x250&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow"><img src="http://li.denverpost.com/imp?s=128705&sz=300x250&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" alt="" class="ad center" /></a>
<!-- SECONDARY -->
<a href="http://li.denverpost.com/click?s=1786&sz=116x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow"><img src="http://li.denverpost.com/imp?s=1786&sz=116x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" alt="" /></a>
<a href="http://li.denverpost.com/click?s=96651&sz=69x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow"><img src="http://li.denverpost.com/imp?s=96651&sz=69x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]"></a>
<!-- TRACKING -->
<img src="http://li.denverpost.com/imp?s=128706&sz=1x1&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" style="display:none;" />
<img src="http://li.denverpost.com/imp?s=128707&sz=1x1&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" style="display:none;" />
</center>
<hr />
<!-- END LIVEINTENT -->
<p><b> <a href="http://dpo.st/1ADzi2X" title="Marijuana and taxes.">2. COLORADO POT SHOPS WILL POCKET MORE THAN $500,000 IN 2014 SALES TAX</a></b></p>
<p>Colorado's cannabis shops, on the hook for higher taxes than traditional retailers, are nonetheless reaping more than half a million dollars in rebated sales-tax revenue in 2014  <a href="http://dpo.st/1ADzi2X" title="Marijuana and taxes.">thanks to timely payment to the tax man</a>.</p>
<p><b> <a href="http://dpo.st/1ADzyPc" title="Joe Cocker's death.">3. JOE COCKER, FAMED SINGER AND COLORADO RESIDENT, DEAD AT 70</a></b></p>
<p>While to the outside world he was known for his wild stage presence, raspy voice, air guitar and intense facial contortions, those who knew Joe Cocker in southwest Colorado remember him as the  <a href="http://dpo.st/1ADzyPc" title="Joe Cocker's death.">quiet outdoorsman and philanthropist down the road </a>who had a knack for growing tomatoes.</p>
<center><!-- AD BLOCK 2 -->
<hr />
<!-- BEGIN LIVEINTENT AD #2 -->
<a href="http://li.denverpost.com/click?s=128708&sz=300x250&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow"><img src="http://li.denverpost.com/imp?s=128708&sz=300x250&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" alt="" class="ad center" /></a>
<!-- SECONDARY -->
<a href="http://li.denverpost.com/click?s=1786&sz=116x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow"><img src="http://li.denverpost.com/imp?s=1786&sz=116x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" alt="" /></a>
<a href="http://li.denverpost.com/click?s=96651&sz=69x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow"><img src="http://li.denverpost.com/imp?s=96651&sz=69x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]"></a>
<!-- TRACKING -->
<img src="http://li.denverpost.com/imp?s=128709&sz=1x1&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" style="display:none;" />
<img src="http://li.denverpost.com/imp?s=128710&sz=1x1&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" style="display:none;" />
<hr />
<!-- END AD BLOCK --></center>
<p> <a href="http://dpo.st/1reLYeA" title="Storm moves out."><b>4. COLORADO HIGH COUNTRY TRAVEL REMAINS TREACHEROUS AS STORM MOVES OUT</b></a></p>
<p>Road conditions in the high country remain treacherous on Tuesday after a roughly  <a href="http://dpo.st/1reLYeA" title="Storm moves out.">three-day winter storm dropped feet of snow in some places</a>, causing blizzard conditions and leading to accidents along the Interstate 70 corridor.</p>
<p><b> <a href="http://dpo.st/1ADAh2U" title="Marijuana lawsuit.">5. LAWSUIT OVER COLORADO MARIJUANA LEGALIZATION TAKES RARE LEGAL PATH</a></b></p>
<p>In suing to stop marijuana legalization in Colorado, two neighboring states have embarked down an arcane legal pathway that could take years to reach a conclusion,  <a href="http://dpo.st/1ADAh2U" title="Marijuana lawsuit.">legal scholars say</a>.</p>
<p><b> <a href="http://dpo.st/1ADAG5q" title="Read more.">6. DOUGLAS COUNTY K-9 ESCAPES, KILLS DOG WHILE OFF-DUTY IN THORNTON </a></b></p>
<p>A police dog from the Douglas County Sheriff's Office is off duty during an investigation after e <a href="http://dpo.st/1ADAG5q" title="Read more.">scaping and killing another dog in Thornton on Sunday</a>.</p>
<p> <a href="http://dpo.st/1ADB1oT" title="Deputy shot."><b>7. ADAMS COUNTY DEPUTY SHOT BY THORNTON COP DURING TRIPLE-HOMICIDE ARREST</b></a></p>
<p><p>A Thornton police officer shot and injured an Adams County sheriff's deputy during the arrest of a man suspected to be involved in a triple homicide earlier this month,  <a href="http://dpo.st/1ADB1oT" title="Deputy shot.">authorities said Monday</a>.</p>
<!-- HOUSE AD -->
  <hr />
<!--   <p style="text-align:center;font-size:0.9em;color:#888888;font-weight:bold;"><a href="http://mail.denverpost.com/dpopreference/preference?Email=[-EMAILADDR-]">Get more news in your inbox here</a>.</em></p> -->
<a href="http://extras.denverpost.com/stateofhope/?src=newsletter"><img src="http://extras.denverpost.com/newsletter/houseadnews.jpg" alt="" class="logo center" /></a>
  <hr />
  <!-- END HOUSE AD -->
<p><b> <a href="http://dpo.st/1JKOkYE" title="Guns at DIA."> 8. TSA: DENVER AIRPORT RANKS FIFTH AMONG SECURITY CHECKPOINT GUN SEIZURES</a></b></p>
<p>Denver International Airport ranks fifth among America's airports when it comes to firearms seized at security checkpoints,  <a href="http://dpo.st/1JKOkYE" title="Guns at DIA.">according to federal data</a>.</p>
<p><b> <a href="http://dpo.st/1ADBHdO" title="Read more.">9. DENVER POLICE RECOVER CAR STOLEN FROM CRITICALLY INJURED OFFICER</a></b></p>
<p>A car stolen from a hospitalized Denver Police Department officer <a href="http://dpo.st/1ADBHdO" title="Read more."> has been recovered</a>.</p>
<p><b> <a href="http://dpo.st/1CtuIqb" title="Sage restaurant group.">10. DENVER'S SAGE RESTAURANT GROUP SET FOR HOTEL-FUELED GROWTH SPURT</a></b></p>
<p>Denver's Sage Restaurant Group is riding a resurgence in the hotel industry to fuel a national growth spurt. An affiliate of high-profile hotel developer Sage Hospitality Group, the Sage dining company is  <a href="http://dpo.st/1CtuIqb" title="Sage restaurant group.">proposing five new restaurants from Denver to Philadelphia</a>. </p>
<!-- FOOTER -->
<hr />
<p class="footer">You are receiving this newsletter because you signed up at The Denver Post.
<br />Please add "members@mail.denverpost.com" and "members@direct.denverpost.com" to your trusted senders list. To unsubscribe from this mailing, <a href="[-WEB_UNSUB-]">click here.</a>
<br />To change your e-mail preferences,
<a href="http://mail.denverpost.com/dpopreference/preference?Email=[-EMAILADDR-]" style="text-decoration: none;" tracking="no">click here</a>. To view this newsletter on the web <a href="[-CLICK_TO_VIEW-]">click here.</a>
</p>
<p class="footer">The Denver Post 101 West Colfax Ave. Denver, CO 80202</p>
</body>
</html>