<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="http://extras.denverpost.com/newsletter/digest.css">
  <!-- <link rel="stylesheet" href="NewDigest/digest.css"> -->
<!-- [if gte mso 9]>
<style type="text/css">
img.logo { width: 130px; }
</style>
<![endif]
</head> -->
<body align="center" style="width:100%;max-width:600px">
  <!-- MASTHEAD -->
  <div style="background-color:#cc0000;padding-bottom:6px;">
    <!-- <a href="http://extras.denverpost.com/aurora-va-hospital/"><h1 class="label">ANATOMY OF A CALAMITY</h1></a> -->
    <p style="color:#ffffff;font-size:1.2em;text-align:center;padding:0;margin:0;font-family:Georgia,'Droid Serif',-apple-system-headline,serif;">A special report by</p>
    <center>
      <a href="http://extras.denverpost.com/aurora-va-hospital/">
        <img class="logo center" alt="The Denver Post" style="padding-bottom:6px;padding-top:3px;width:180px;" src="http://extras.denverpost.com/newsletter/dp_logo_high.png">
      </a>
    </center>
  </div>
  <a href="http://extras.denverpost.com/aurora-va-hospital/"><img src="http://extras.denverpost.com/aurora-va-hospital/img/newslettertitle.jpg" alt="" class="display center" style="margin-bottom:1em;" /></a>
  <!-- TOP 1 -->
    <blockquote style="font-family:sans-serif;font-size:1.2em;font-weight:bold;text-align:center;" class="quote">
    “I don’t even know where to begin. This is just beyond my comprehension ... I’m appalled and angry.”<br><p style="font-family:sans-serif;font-size:.8em;font-weight:bold;text-transform:uppercase;text-align:center;">Congressman Doug Lamborn</p>
  </blockquote>
  <hr />
  <p style="text-align:center;text-transform:uppercase;"><a href="http://extras.denverpost.com/aurora-va-hospital/"><strong>HOW THE VA'S AURORA HOSPITAL PROJECT SPIRALED OUT OF CONTROL</strong></a></p>
  <p>A 70-word handwritten note sealed the fate of the calamitous VA hospital project in Aurora, which will cost a staggering $1.67 billion to complete. <a href="http://extras.denverpost.com/aurora-va-hospital/">A special report on what went wrong, who was responsible and what was done</a>.</p>
  <!-- <p style="text-align:center;font-size:0.8em;"><a href="http://extras.denverpost.com/aurora-va-hospital/"><strong><em>READ MORE</em></strong></a></p> -->


  
<!--   <a href="http://extras.denverpost.com/aurora-va-hospital/"><img src="http://extras.mnginteractive.com/live/media/site36/2015/0807/20150807__20150809_Z00_CD09VAHOSPITAL~p2.jpg" alt="" class="display center" /></a>
  <p class="cutline">Jim Sack, 67, works out with physical therapist Joayn Truong as he tries to regain strength and relearn how to get out of a bed and into his wheelchair. The U.S. Navy veteran came to California to the spinal cord injury center at the hospital to receive treatment for a pressure sore. (Photo by Cyrus McCrimmon, The Denver Post)</p> -->
  <!-- FOOTER -->
  <hr />
  <p class="footer">You are receiving this newsletter because you signed up at The Denver Post.
    <br />Please add "members@mail.denverpost.com" and "members@direct.denverpost.com" to your trusted senders list. To unsubscribe from this mailing, <a href="[-WEB_UNSUB-]">click here.</a>
    <br />To change your e-mail preferences,
    <a href="http://mail.denverpost.com/dpopreference/preference?Email=[-EMAILADDR-]" style="text-decoration: none;" tracking="no">click here</a>. To view this newsletter on the web <a href="[-CLICK_TO_VIEW-]">click here.</a>
  </p>
  <p class="footer">The Denver Post 101 West Colfax Ave. Denver, CO 80202</p>

</body>
</html>