<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
<!--     <link rel="stylesheet" href="http://extras.denverpost.com/newsletter/ink.css"> -->
    <link rel="stylesheet" href="http://extras.denverpost.com/newsletter/reverb/ink.css">

    <style type="text/css">
    
    </style>
</head>
<body>
<table class="body">
<tr>
<td class="center" align="center" valign="top">
<center>
<table class="container">
<tr>
<td class="wrapper last" style="margin-top:0px;">
<!-- LOGO - DON'T TOUCH-->
    <p class="social"><img src="http://extras.denverpost.com/newsletter/reverb.jpg" alt="" class="display center" /><a href="http://heyreverb.com" class="nav">heyreverb.com</a> | <a href="http://twitter.com/RVRB" class="nav">@RVRB</a> | <a href="http://facebook.com/heyreverb" class="nav">FB/heyreverb</a></p>
    
<!-- FIRST CHUNK OF CONTENT -->
    <p><a href="http://www.heyreverb.com/blog/2014/12/04/shakey-graves-finds-harmony-denvers-esme-patterson/97779/"><strong>Shakey Graves finds harmony with Denver’s Esme Patterson</strong></a></p>
    <a href="http://www.heyreverb.com/blog/2014/12/04/shakey-graves-finds-harmony-denvers-esme-patterson/97779/"><img src="http://www.heyreverb.com/files/2014/12/Shakey-Graves-A.jpg" alt="" class="display center" /></a>
    <p>On Halloween morning in 2013, <a href="http://www.heyreverb.com/blog/tag/shakey-graves/">Shakey Graves</a> and <a href="http://www.heyreverb.com/blog/tag/esme-patterson/">Esmé Patterson</a> sat down to write "Dearly Departed." They debuted the track that night, and now, a year later, the song has more than 4 million plays and become a national hit. <a href="http://www.heyreverb.com/blog/2014/12/04/shakey-graves-finds-harmony-denvers-esme-patterson/97779/">Here's the story.</a></p>
    <p>+ Watch: Shakey Graves, Denver’s Esme Patterson <a href="http://www.heyreverb.com/blog/2014/10/15/watch-shakey-graves-perform-dearly-departed-conan/95704/">play “Dearly Departed” on Conan.</a></p>
    <p>+ Photos from Shakey Graves and Esme Patterson's <a href="http://www.heyreverb.com/blog/2013/11/01/halloween-photos-paper-bird-shakey-graves-at-the-fox-theatre-in-boulder/80238/">first performance together.</a></p>
<!-- AD #1 DON'T TOUCH -->
    <hr />
    <!-- Non JS ad call heyreverb newsletter ad slot 1  ### size: 300x250 -->
    <a href='http://pubads.g.doubleclick.net/gampad/jump?iu=/8013/denverpost.com/Entertainment&sz=300x250&t=kv%3Dreverb%26pos%3DCube1_RRail_ATF&c=[-TIMESTAMP-]'>
    <img src='http://pubads.g.doubleclick.net/gampad/ad?iu=/8013/denverpost.com/Entertainment&sz=300x250&t=kv%3Dreverb%26pos%3DCube1_RRail_ATF&c=[-TIMESTAMP-]'/>
    </a>
    <!-- End -->
    <hr />
<!-- SECOND CHUNK OF CONTENT -->
    <p><a href="http://www.heyreverb.com/blog/2014/12/04/10-best-albums-of-2014-you-missed/97787/"><strong>The 10 best albums of 2014 that you probably missed</strong></a></p>
    <a href="http://www.heyreverb.com/blog/2014/12/04/10-best-albums-of-2014-you-missed/97787/"><img src="http://www.heyreverb.com/files/2014/12/best-albums-2014-you-missed-a.jpg" alt="" class="display center" /></a>
    <p>Reverb presents <a href="http://www.heyreverb.com/blog/2014/12/04/10-best-albums-of-2014-you-missed/97787/">the best albums of 2014 that you probably missed</a>, featuring Blake Mills, Todd Terje, Magic Fades and more.</p>
    <p>+ In June we listed our <a href="http://www.heyreverb.com/blog/2014/06/05/10-best-albums-2014-far/90150/">favorite albums of 2014 so far.</a></p>
    <p>+ These were the <a href="http://www.heyreverb.com/blog/2013/12/23/best-albums-of-2013/83107/">best albums of 2013.</a></p>


<!-- AD #2 DON'T TOUCH -->
    <hr />
    <!-- Non JS ad call heyreverb newsletter ad slot 2 ### size: 300x250 -->
    <a href='http://pubads.g.doubleclick.net/gampad/jump?iu=/8013/denverpost.com/Entertainment&sz=300x250&t=kv%3Dreverb%26pos%3DCube2_RRail_mid&c=[-TIMESTAMP-]'>
    <img src='http://pubads.g.doubleclick.net/gampad/ad?iu=/8013/denverpost.com/Entertainment&sz=300x250&t=kv%3Dreverb%26pos%3DCube2_RRail_mid&c=[-TIMESTAMP-]'/>
    </a>
    <!-- End -->
    <hr />
<!-- THIRD CHUNK OF CONTENT -->
    <p><a href="http://www.heyreverb.com/blog/2014/12/04/christmas-music-makes-holiday-song-just-sleigh-bells-right/97788/"><strong>What makes a holiday song? Not just sleigh bells, right?</strong></a></p>
    <a href="http://www.heyreverb.com/blog/2014/12/04/christmas-music-makes-holiday-song-just-sleigh-bells-right/97788/"><img src="http://www.heyreverb.com/files/2014/12/Christmas-Music-OneRepublic-a.jpg" alt="" class="display center" /></a>
    <p>When you hear Christmas music you know right away what it is. But why? What makes a holiday song? Is it the structure? The lyrics? The instrumentation? Or maybe <a href="http://www.heyreverb.com/blog/2014/12/04/christmas-music-makes-holiday-song-just-sleigh-bells-right/97788/">how we’ve been trained.</a></p>
    <p>+ Listen: <a href="http://www.heyreverb.com/blog/2013/12/05/listen-20-christmas-songs-from-rock-hip-hop-and-indie-artists-that-dont-suck/82247/">20 Christmas songs from rock, hip-hop and indie artists</a> that don’t suck</p>
    <p>+ Download a <a href="http://www.heyreverb.com/blog/2013/12/23/steal-this-christmas-track-from-kissing-party/83276/">Christmas track from Kissing Party.</a></p>
    <p><a href="http://www.heyreverb.com/blog/2014/12/03/jenny-lewis-ogden-theatre-denver-photos-review/97755/"><strong>PHOTOS: The charming world of Jenny Lewis</strong></a></p>
    <a href="http://www.heyreverb.com/blog/2014/12/03/jenny-lewis-ogden-theatre-denver-photos-review/97755/"><img src="http://reverb.slideshowpro.com/albums/015/371/album-459561/cache/Glenn_Ross_Photo_Jenny_Lewis-15.sjpg_640_403_0_95_1_44_76.sjpg?1417719852" alt="" class="display center" /></a>
    <p>Save a few dull moments and some odd pacing, <a href="http://www.heyreverb.com/blog/2014/12/03/jenny-lewis-ogden-theatre-denver-photos-review/97755/#16">Jenny Lewis spent an hour-and-a-half charming the Ogden Theatre</a> in Denver.</p>
    <p>+ PHOTOS: Jenny Lewis and Beck <a href="http://www.heyreverb.com/blog/2014/08/16/photos-beck-red-rocks-amphitheatre-show-review/93462/">perform at Red Rocks Amphitheatre.</a></p>
<!-- FOOTER DON'T TOUCH-->
    <hr />
    <p class="footer">You are receiving this newsletter because you signed up at <a href="http://heyreverb.com">heyreverb.com</a> or in person at SXSW.
    <br />Please add "members@mail.denverpost.com" to your trusted senders list. <br /> Gmail users, drag this e-mail to your "Primary" tab. To unsubscribe from this mailing, <a href="[-WEB_UNSUB-]">click here.</a>
    <br />To change your e-mail preferences,
    <a href="http://mail.denverpost.com/dpopreference/preference?Email=[-EMAILADDR-]" style="text-decoration: none;" tracking="no">
        <font color="#B3C2CE">click here</font>
        </a>. To view this newsletter on the web <a href="[-CLICK_TO_VIEW-]">click here.</a>
        </p>
        <p class="footer">The Denver Post 101 West Colfax Ave. Denver, CO 80202</p>
    </td>
    <td class="expander"></td>
</tr>
</table>
</center>
</td>
</tr>
</table>
</body>
</html>