<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="http://extras.denverpost.com/newsletter/digest.css">
  <!-- <link rel="stylesheet" href="NewDigest/digest.css"> -->
<!-- [if gte mso 9]>
<style type="text/css">
img.logo { width: 130px; }
</style>
<![endif]
</head> -->
<body align="center" style="width:100%;max-width:600px">
	<!-- MASTHEAD -->
  <div style="background-color:rgba(0,91,91,1);padding-bottom:6px;">
    <a href="http://extras.denverpost.com/transgender"><h1 class="label">TRANSGENDER IN COLORADO</h1></a>
    <p style="color:#ffffff;font-size:0.8em;text-align:center;padding:0;margin:0;font-family:Georgia,'Droid Serif',-apple-system-headline,serif;">by</p>
    <center>
      <a href="http://extras.denverpost.com/transgender">
        <img class="logo center" alt="The Denver Post" style="padding-bottom:6px;padding-top:3px;width:130px;" src="http://extras.denverpost.com/newsletter/dp_logo_high.png">
      </a>
    </center>
  </div>
  <!-- TOP 1 -->
  <a href="[-URL-]"><img src="[-Image-]" alt="" class="display center" /></a>
  <p class="credit">[-Credit-]</p>
  <p><a href="[-URL-]"><strong>[-Hed-]</strong></a></p>
  <blockquote class="quote">
  [-Quote-]
    <p style="font-weight:bold;">[-QuoteCredit-]</p>
  </blockquote>
  <p>[-Description-]</p>
  <p style="text-align:center;font-size:0.8em;"><a href="[-URL-]"><strong><em>READ MORE</em></strong></a></p>
  <!-- FOOTER -->
  <hr />
  <p class="footer">You are receiving this newsletter because you signed up at The Denver Post.
    <br />Please add "members@mail.denverpost.com" and "members@direct.denverpost.com" to your trusted senders list. To unsubscribe from this mailing, <a href="[-WEB_UNSUB-]">click here.</a>
    <br />To change your e-mail preferences,
    <a href="http://mail.denverpost.com/dpopreference/preference?Email=[-EMAILADDR-]" style="text-decoration: none;" tracking="no">click here</a>. To view this newsletter on the web <a href="[-CLICK_TO_VIEW-]">click here.</a>
  </p>
  <p class="footer">The Denver Post 101 West Colfax Ave. Denver, CO 80202</p>

</body>
</html>