<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="http://extras.denverpost.com/newsletter/digest.css">
  <!-- <link rel="stylesheet" href="NewDigest/digest.css"> -->
<!-- [if gte mso 9]>
<style type="text/css">
img.logo { width: 130px; }
</style>
<![endif]
</head> -->
<body align="center" style="width:100%;max-width:600px">
  <p style="color:#BFBFBF;font-size:0.7em;margin:0;padding:0;">The latest in pot news from Colorado and around the country, curated by <a href="http://thecannabist.co" style="color:#9EC5E8;">The Cannabist</a>.</p>
  <!-- MASTHEAD -->
  <div style="background-color:#812317;padding-bottom:6px;">
    <center>
      <a href="http://denverpost.com">
        <a href="http://thecannabist.co"><img class="logo center" style="padding-bottom:6px;padding-top:6px;width:250px;" src="http://extras.denverpost.com/newsletter/cannabistlogo.png"></a>
      </a>
      <p style="color:#ffffff;font-weight:bold;text-align:center;padding:0;margin:0;font-size:0.9em;"><a href="http://thecannabist.co" style="color:#1BB40E;">thecannabist.co</a> | <a href="http://twitter.com/cannabist" style="color:#1BB40E;">@cannabist</a> | <a href="http://facebook.com/cannabist" style="color:#1BB40E;">fb/cannabist</a></p>
  </div>
  <!-- TOP 1 -->
  <img src="[-Top1Image-]" alt="" class="display center" />
  <p><a href="[-Top1URL-]"><strong>[-Top1Head-]</strong></a></p>
  <p>[-Top1Blurb-]</p>
  <p><a href="[-2URL-]"><strong>[-2Hed-]</strong></a></p>
  <p>[-2Blurb-]</p>
  <!-- ALLTIME HIGH AD -->
      <center>
      <a href="http://dpo.st/1ECISYs" style="color:#2C6194;text-decoration:none;"><img class="ad center" src="http://extras.denverpost.com/newsletter/cut2.jpg" style="outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;max-width:100%;clear:both;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;float:none;width:auto;display:block;" /></a>
    </center>
    <!-- END ALLTIME HIGH -->

    <!-- SPRINT AD -->
   <!--  <center>
      <a href="http://dpo.st/1DvVU9W" style="color:#2C6194;text-decoration:none;"><img class="ad center" src="http://extras.denverpost.com/newsletter/buildbiz.png" style="outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;max-width:100%;clear:both;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;float:none;width:auto;display:block;" /> </a>
    </center> -->
    <!-- END SPRINT AD -->
    <p><a href="[-3URL-]"><strong>[-3Hed-]</strong></a></p>
    <p>[-3Blurb-]</p>
    <p><a href="[-4URL-]"><strong>[-4Hed-]</strong></a></p>
    <p>[-4Blurb-]</p>
    <p><a href="[-5URL-]"><strong>[-5Hed-]</strong></a></p>
    <p>[-5Blurb-]</p>
    <!-- ALLTIME HIGH AD -->
    <center>
      <a href="http://dpo.st/1ECISYs" style="color:#2C6194;text-decoration:none;"><img class="ad center" src="http://extras.denverpost.com/newsletter/cut.jpg" style="outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;max-width:100%;clear:both;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;float:none;width:auto;display:block;" /></a>
    </center>
    <!-- END ALLTIME HIGH -->

    <!-- SPRINT AD -->
  <!-- <center>
    <a href="http://dpo.st/1T17fpr" style="color:#2C6194;text-decoration:none;"><img class="ad center" src="http://extras.denverpost.com/newsletter/musclebiz.png" style="outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;max-width:100%;clear:both;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;float:none;width:auto;display:block;" /> </a>
  </center> -->
  <!-- END SPRINT AD -->
  <p><a href="[-6URL-]"><strong>[-6Hed-]</strong></a></p>
  <p>[-6Blurb-]</p>
  <p><a href="[-7URL-]"><strong>[-7Hed-]</strong></a></p>
  <p>[-7Blurb-]</p>
  <p><a href="[-8URL-]"><strong>[-8Hed-]</strong></a></p>
  <p>[-8Blurb-]</p>
  <p><a href="[-9URL-]"><strong>[-9Hed-]</strong></a></p>
  <p>[-9Blurb-]</p>
  <p><a href="[-10URL-]"><strong>[-10Hed-]</strong></a></p>
  <p>[-10Blurb-]</p>
  <p><a href="[-GalleryURL-]"><strong>[-OfTheDay-]</strong></a></p>
  <a href="[-GalleryURL-]"><img src="[-ImageURL-]" alt="" class="display center" /></a>
  <p class="credit">[-ImageCredit-]</p>
  <p>[-ImageCutline-]</p>
  <hr />
  <p class="footer">You are receiving this newsletter because you signed up at The Denver Post.
    <br />Please add "members@mail.denverpost.com" and "members@direct.denverpost.com" to your trusted senders list. To unsubscribe from this mailing, <a href="[-WEB_UNSUB-]">click here.</a>
    <br />To change your e-mail preferences,
    <a href="http://mail.denverpost.com/dpopreference/preference?Email=[-EMAILADDR-]" style="text-decoration: none;" tracking="no">click here</a>. To view this newsletter on the web <a href="[-CLICK_TO_VIEW-]">click here.</a>
  </p>
  <p class="footer">The Denver Post 101 West Colfax Ave. Denver, CO 80202</p>
</body>
</html>