<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="stylesheet" href="http://extras.denverpost.com/newsletter/digest.css"> -->
    <link rel="stylesheet" href="digest.css">

    <style type="text/css">
    </style>
</head>
<body align="center" style="width:100%;max-width:500px">
	<!-- MASTHEAD -->
    <div style="background-color:#517693;">
    <h1 class="label">THE DAILY DIGEST</h1>
    <p style="color:#ffffff;font-size:0.8em;text-align:center;padding:0;margin:0;font-family:Georgia, 'Droid Serif', -apple-system-headline, serif;">by</p>
    <center>
    <a href="http://denverpost.com">
      <img class="logo center" style="padding-bottom:6px;width:130px;" src="http://extras.denverpost.com/newsletter/dp_logo_high.png">
    </a>
    </center>
    </div>
    <!-- TOP 1 -->
	<p><a href="http://dpo.st/1y11VHy" title="Part four."><b>1. TODDLER TESTS POSITIVE FOR POT, PARENTS CHARGED</b></a></p>
	<a href="http://denverpost.com"><img src="http://extras.mnginteractive.com/live/media/site36/2014/1215/20141215__CD11VAHOSPITAL_BL10579x~p1.jpg" alt="" class="display center" /></a>
	<p class="credit">The Denver Post</p>
	<p>Joshua Plunkett's mind has been different since he was born. He is among the 13 percent of children who have diagnosable mental illness, and an example of how early treatment can curb the impact of mental problems on school and growing up. Read the <a href="http://dpo.st/1y11VHy" title="Part four.">final part of our four-part investigative series</a>.</p>
	<!-- WEATHER BLOCK -->
<hr />
    <p style="text-align:center;font-size:0.9em;"><strong><a href="http://dpo.st/stHtpv" style="font-weight:bold;font-size:0.9em">WEATHER</a> | <a href="http://dpo.st/bzLWmO" style="font-weight:bold;">TRAFFIC</a> | <a href="http://dpo.st/apps" style="font-weight:bold;">APPS</a></strong></p>
<!-- END WEATHER BLOCK -->
<!-- AD BLOCK 1 -->
<hr />
<!-- BEGIN LIVEINTENT AD #1 -->
<center>
<!-- MAIN AD IMAGE -->
<a href="http://li.denverpost.com/click?s=128705&sz=300x250&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow"><img src="http://li.denverpost.com/imp?s=128705&sz=300x250&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" alt="" class="ad center" /></a>
<!-- SECONDARY -->
<a href="http://li.denverpost.com/click?s=1786&sz=116x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow"><img src="http://li.denverpost.com/imp?s=1786&sz=116x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" alt="" /></a>
<a href="http://li.denverpost.com/click?s=96651&sz=69x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow"><img src="http://li.denverpost.com/imp?s=96651&sz=69x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]"></a>
<!-- TRACKING -->
<img src="http://li.denverpost.com/imp?s=128706&sz=1x1&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" style="display:none;" />
<img src="http://li.denverpost.com/imp?s=128707&sz=1x1&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" style="display:none;" />
</center>
<hr />
<!-- END LIVEINTENT -->
<!-- TEXT BLOCK 2 -->
<center>
<!-- MAIN AD IMAGE -->
<p><a href="http://dpo.st/1y12RLT" title="Police treatment."><b>2. 'THE HOBBIT': END OF AN ERA</b></a></p>
<p>While race relations in Denver may not be as heated as they are in other cities, <a href="http://dpo.st/1y12RLT" title="Police treatment.">fear exists among minorities</a> &mdash; even if they haven't done anything wrong &mdash; when they encounter police.</p>
<!-- TEXT BLOCK 2 -->
<p><a href="http://dpo.st/1y12RLT" title="Police treatment."><b>3. "IT'S REAL," DENVER RESIDENTS SAY ABOUT RACIAL BIAS AMONG POLICE </b></a></p>
<p>While race relations in Denver may not be as heated as they are in other cities, <a href="http://dpo.st/1y12RLT" title="Police treatment.">fear exists among minorities</a> &mdash; even if they haven't done anything wrong &mdash; when they encounter police.</p>
<!-- AD BLOCK 2 -->
<hr />
<!-- BEGIN LIVEINTENT AD #2 -->
<a href="http://li.denverpost.com/click?s=128708&sz=300x250&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow"><img src="http://li.denverpost.com/imp?s=128708&sz=300x250&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" alt="" class="ad center" /></a>
<!-- SECONDARY -->
<a href="http://li.denverpost.com/click?s=1786&sz=116x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow"><img src="http://li.denverpost.com/imp?s=1786&sz=116x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" alt="" /></a>
<a href="http://li.denverpost.com/click?s=96651&sz=69x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" rel="nofollow"><img src="http://li.denverpost.com/imp?s=96651&sz=69x15&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]"></a>
<!-- TRACKING -->
<img src="http://li.denverpost.com/imp?s=128709&sz=1x1&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" style="display:none;" />
<img src="http://li.denverpost.com/imp?s=128710&sz=1x1&li=[-LIST_ID-]&e=[-EMAILADDR-]&p=[-MAILINGID-]" style="display:none;" />
<hr />
<!-- END AD BLOCK -->
<p><b><a href="http://dpo.st/1FquaQN" title="Officer-involved shooting.">6. PUEBLO AUTHORITIES SHOOT, KILL MAN DURING ASSAULT INVESTIGATION</a></b>
</p>
<p>Law enforcement officers in Pueblo investigating an assault shot and <a href="http://dpo.st/1FquaQN" title="Officer-involved shooting.">killed an armed man on Tuesday night at a gas station</a>.</p>
<p><b> <a href="http://dpo.st/1y14068" title="Sentence.">7. WOMAN WHO BILKED PUBLIC BY CLAIMING SON HAD CANCER IS SENTENCED</a></b>
</p>
<p>An Aurora woman who received tens of thousands of dollars and a free trip to Disneyland after pretending her six-year-old son had cancer was <a href="http://dpo.st/1y14068" title="Sentence.">sentenced Tuesday to 90 days in jail and five years probation</a>.</p>
<p><b> <a href="http://dpo.st/1y14itK" title="Shooting investigation.">8. COMMERCE CITY POLICE ID SUSPECTS SHOT BY DENVER COPS; DETAILS SPARSE</a></b>
</p>
<p>Authorities on Tuesday identified two brothers wounded by Denver police officers on Thursday night in Commerce City, saying <a href="http://dpo.st/1y14itK" title="Shooting investigation.">both will face charges in the events preceding the shooting</a>. </p>
<!-- FOOTER -->
<hr />
<p class="footer">You are receiving this newsletter because you signed up at The Denver Post.
<br />Please add "members@mail.denverpost.com" and "members@direct.denverpost.com" to your trusted senders list. To unsubscribe from this mailing, <a href="[-WEB_UNSUB-]">click here.</a>
<br />To change your e-mail preferences,
<a href="http://mail.denverpost.com/dpopreference/preference?Email=[-EMAILADDR-]" style="text-decoration: none;" tracking="no">
<font color="#B3C2CE">click here</font>
</a>. To view this newsletter on the web <a href="[-CLICK_TO_VIEW-]">click here.</a>
</p>
<p class="footer">The Denver Post 101 West Colfax Ave. Denver, CO 80202</p>
</body>
</html>