<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- <link rel="stylesheet" href="http://extras.denverpost.com/newsletter/styles/roundup.css"> -->
  <link rel="stylesheet" href="styles/cannabist.css">
<!-- [if gte mso 9]>
<style type="text/css">
img.logo { width: 130px; }
</style>
<![endif]
</head> -->
<body align="center" style="width:100%;max-width:600px">
  <p style="color:#BFBFBF;font-size:0.7em;margin:0;padding:0;">The latest in pot news from Colorado and around the country, curated by <a href="http://thecannabist.co" style="color:#9EC5E8;">The Cannabist</a>.</p>
  <!-- MASTHEAD -->
  <div style="background-color:#812317;padding-bottom:6px;" id="footer">
    <center>
      <a href="http://denverpost.com">
        <a href="http://thecannabist.co"><img class="logo center" style="padding-bottom:6px;padding-top:6px;width:250px;" src="http://extras.denverpost.com/newsletter/cannabistlogo.png"></a>
      </a>
      <p style="color:#ffffff;font-weight:bold;text-align:center;padding:0;margin:0;font-size:0.9em;"><a href="http://thecannabist.co" style="color:#ffffff;">thecannabist.co</a> | <a href="http://twitter.com/cannabist" style="color:#ffffff;">@cannabist</a> | <a href="http://facebook.com/cannabist" style="color:#ffffff;">fb/cannabist</a></p>
  </div>
  <!-- BODY -->
  <!-- <div id="footer"><a href="[-Top1URL-]"><img src="[-Top1Image-]" alt="" /></a></div> -->
  <div id="footer"><a href="[-Top1URL-]"><img src="http://placehold.it/1200x600&text=Photo" alt="" /></a></div>
  <h2><a href="[-Top1URL-]">[-Top1Head-]</a></h2>
  <p>[-Top1Blurb-]</p>
  <!-- AD POSITION 1 --> <center> <a href="[-AdLink1-]" style="color:#2C6194;text-decoration:none;"><img class="ad center" src="[-AdImage1-]" style="outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;max-width:100%;clear:both;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;float:none;width:auto;display:block;" /></a> </center> <!-- END AD 1 -->
  <!-- SPONSORED CONTENT -->
  <div class="sponsor" id="sponsor">
  <p class="sponsorlabel">Sponsored Content</p>
  <p class="sponsorhed"><a href="">[-SponsorHed-]</a></h2>
  <p class="sponsor">[-SponsorBody-]</p>
  <p style="padding:0;margin:0;text-align:center;"><a href=""><img src="[-SponsorLogoURL-]" alt="" class="logo" /></a></p>
  </div>
  <!-- END SPONSORED CONTENT -->
  <!-- AD POSITION 2 --> <center> <a href="[-AdLink2-]" style="color:#2C6194;text-decoration:none;"><img class="ad center" src="[-AdImage2-]" style="outline-style:none;text-decoration:none;-ms-interpolation-mode:bicubic;max-width:100%;clear:both;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;float:none;width:auto;display:block;" /></a> </center> <!-- END AD 2 -->
  <!-- END BODY -->
  <hr />
  <p class="footer">You are receiving this newsletter because you signed up at The Denver Post.
    <br />Please add "members@mail.denverpost.com" and "members@direct.denverpost.com" to your trusted senders list. To unsubscribe from this mailing, <a href="[-WEB_UNSUB-]">click here.</a>
    <br />To change your e-mail preferences,
    <a href="http://mail.denverpost.com/dpopreference/preference?Email=[-EMAILADDR-]" style="text-decoration: none;" tracking="no">click here</a>. To view this newsletter on the web <a href="[-CLICK_TO_VIEW-]">click here.</a>
  </p>
  <p class="footer">The Denver Post 101 West Colfax Ave. Denver, CO 80202</p>
</body>
</html>